.tooltip-eSLcXvvL {
    background: var(--themed-color-background, #fff);
    border-radius: 8px;
    cursor: default;
    filter: drop-shadow(0 1px 4px rgb(0 0 0 / 20%));
    position: absolute;
    visibility: hidden;
    z-index: 7
}

html.theme-dark .tooltip-eSLcXvvL {
    background: var(--themed-color-background, #25283256);
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 1px 4px rgb(0 0 0 / 40%))
}

.tooltip-eSLcXvvL.show-eSLcXvvL {
    visibility: unset
}

.tooltip-eSLcXvvL::after, .tooltip-eSLcXvvL::before {
    border: 10px solid #0000;
    content: " ";
    height: 0;
    margin-top: -10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 0
}

.tooltip-eSLcXvvL:not(.right-eSLcXvvL)::after {
    border-color: #0000;
    border-left-color: var(--themed-color-background, #fff);
    border-left-width: 13px;
    left: 100%
}

html.theme-dark .tooltip-eSLcXvvL:not(.right-eSLcXvvL)::after {
    border-left-color: var(--themed-color-background, #25283256)
}

.tooltip-eSLcXvvL.right-eSLcXvvL::before {
    border-color: #0000;
    border-right-color: var(--themed-color-background, #fff);
    border-right-width: 13px;
    right: 100%
}

html.theme-dark .tooltip-eSLcXvvL.right-eSLcXvvL::before {
    border-right-color: var(--themed-color-background, #25283256)
}

.text-hF57_4zZ {
    color: var(--themed-color-text, #131722);
    font-family: "Funnel Display";
    font-feature-settings: "tnum"on, "lnum"on;
    font-size: 12px;
    line-height: 14px;
    max-width: 244px;
    min-width: 25px;
    padding: 12px;
    letter-spacing: -0.3px;
}

html.theme-dark .text-hF57_4zZ {
    color: var(--themed-color-text, #d1d4dc);
    font-family: 'Funnel Display';
}