.account-delete-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .account-delete-container {
    background-color: #19191c80;
    backdrop-filter: blur(10px);
    border: 1.5px solid #1a1a1d5d;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
    padding: 20px 24px 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  }
  
  .account-delete-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .account-delete-header h3 {
    color: white;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .close-button {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: white;
  }
  
  .account-setup-content {
  }
  
  .setup-warning {
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .warning-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    filter: hue-rotate(280deg);
  }
  
  .setup-warning p {
    margin: 0;
    line-height: 1;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    margin-top: -8px;
  }
  
  .username-input-container {
    margin-bottom: 20px;
  }
  
  .username-input {
    width: 100%;
    background: none;
    border: 1.5px solid rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    padding: 8px 15px;
    color: white;
    font-size: 0.8rem;
    margin: -10px 0;
  }
  
  .username-input:focus {
    outline: none;
  }
  
  .error-message {
    color: #ef4444;
    font-size: 0.8rem;
    margin-top: 5px;
  }
  
  .setup-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    min-width: 100%;
  }
  
  .account-delete-cancel-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 1.5px solid rgba(143, 144, 199, 0.1);
    color: rgba(255, 255, 255, 0.7);
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: -0.3px;
    height: 30px;
  }
  
  .account-delete-cancel-button:hover {
    background-color: rgba(193, 205, 239, 0.02);
    color: white;
  }
  
  .confirm-button {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    font-size: 0.75rem;
    font-weight: 400;
    height: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    letter-spacing: -0.3px;
  }
  
  .delete-confirm {
    border: 1.5px solid #ef444446;
    color: #ef4444;
    background: transparent;
  }
  
  .delete-confirm:hover {
    background-color: #dc26260c;
  }
  
  .delete-confirm:disabled {
    border: 1.5px solid #ef444446;
    color: #ef4444;
    background: transparent;
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 16px;
    padding-top: 0;
    text-align: center;
  }
  
  .success-animation-container {
    width: 100px;
    height: 100px;
    margin: 10px 0 20px;
    position: relative;
  }
  
  .checkmark-circle {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  
  .checkmark-circle .background {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .checkmark-circle.animate .background {
    transform: scale(1);
    opacity: 1;
  }
  
  .checkmark-circle .checkmark {
    border-radius: 5px;
  }
  
  .checkmark-circle .checkmark.draw:after {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
    animation-fill-mode: forwards;
  }
  
  .checkmark-circle .checkmark:after {
    opacity: 0;
    height: 50px;
    width: 25px;
    transform-origin: left top;
    border-right: 8px solid #aaaecf;
    border-top: 8px solid #aaaecf;
    border-radius: 2px !important;
    content: '';
    left: 20px;
    top: 60px;
    position: absolute;
  }
  
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 0;
    }
    40% {
      height: 0;
      width: 25px;
      opacity: 1;
    }
    100% {
      height: 50px;
      width: 25px;
      opacity: 1;
    }
  }
  
  .success-title {
    color: white;
    margin: 0 0 0px 0;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .success-message {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    font-size: 0.75rem;
    line-height: 1.4;
  }
  
  .success-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
    margin-bottom: 5px;
  }
  
  .new-account-button {
    background: linear-gradient(
        135deg,
        #aaaecf 0,
        #9a9ec7 25%,
        #8b8eb8 50%,
        #7f82ac 75%,
        #7f82a1 100%
      );
      border: none;
      border-radius: 6px;
      box-shadow:
        inset 0 1px 1px rgb(255 255 255/35%),
        inset 0 -1px 1px rgb(0 0 0/55%),
        0 2px 8px rgb(170 174 207/10%);     
    border: none;
    color: black;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 30px;
    display: flex;
    align-items: center;
  }
  
  .new-account-button:hover {
    filter: brightness(1.2);
  }
  
  .return-home-button {
    background: transparent;
    border: 1.5px solid rgba(143, 144, 199, 0.1);
    color: rgba(255, 255, 255, 0.7);
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease;
    height: 30px;
    display: flex;
    align-items: center;
  }
  
  .return-home-button:hover {
    border-color: rgba(143, 144, 199, 0.13);
  }
  

  