.edit-account-button {   
  display: flex;   
  align-items: center;   
  align-self: center;  
  color: rgba(232, 236, 241, 0.8);     
  border: 1.5px solid rgba(218, 225, 236, 0.07);     
  font-size: 0.8rem;     
  padding: 16px 25px;     
  border-radius: 6px;     
  cursor: pointer;     
  margin-left: 6px;     
  height: 20px;     
  margin-right: 10px;     
  transition: all 0.2s ease;   
}   

.edit-account-close-icon{     
  width: 14px;     
  opacity: 0.8;   
}      

.edit-account-button:hover {     
  color: rgba(232, 236, 241, 0.8);     
  border: 1.5px solid rgba(218, 225, 236, 0.1);   
}      

.account-buttons-container {     
  display: flex;     
  align-items: center;     
  gap: 6px;     
  margin-left: -10px;     
  height: 20px;   
}    

@media(max-width: 700px){     
  .edit-account-button{       
    justify-content: center;       
    min-width: 100%;       
    min-height: 100%;       
    border-radius: 6px;       
    font-size: 0.8rem;     
  }    
}

.complete-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.edit-account-setup-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}