

.edit-account-button {
    background-color: rgba(210, 217, 233, 0.1);
    color: rgba(232, 236, 241, 0.8);
    border: 1px solid rgba(218, 225, 236, 0.2);
    font-size: 0.7rem;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 6px;
    height: 20px;
    margin-right: 10px;
    transition: all 0.2s ease;
  }
  
  .edit-account-button:hover {
    background-color: rgba(210, 217, 233, 0.2);
    color: rgba(232, 236, 241, 0.8);
    border: 1px solid rgba(218, 225, 236, 0.3);
  }
  
  .account-buttons-container {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: -10px;
    height: 20px;
  }