.scroll-button {
  align-items: center;
  background: none;
  border: none;
  border-radius: 50%;
  color: rgb(255 255 255 / 70%);
  cursor: pointer;
  display: flex;
  display: flex;
  font-size: 0.8rem;
  height: 3px;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s;
  width: 0px;
  z-index: 1;
}

.scroll-button:hover {
  color: rgb(255 255 255 / 50%);
}

.scroll-button.left {
  left: 0;
  transform: rotate(90deg);
}

.scroll-button.right {
  right: 0;
  transform: rotate(270deg);
}

.scroll-arrow-button {
  width: 15px;
}
