.token-info-button {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  transition: opacity .2s;
}

.token-info-button:hover {
  opacity: 0.7;
}

.token-info-popup-icon {
  height: 11px;
  opacity: 0.75;
  transform: scale(1.05);
  width: 11px;
}
