.swap-icon {
  cursor: pointer;
  font-size: 0.75rem;
  color: #dadee49c;
  letter-spacing: -0.3px;
  padding: 3px 15px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid  rgba(179, 184, 249, 0.1);
  
}

.swap-icon:hover {
  background-color:  #c3c6e30d;
}