.sidebar-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  align-items: flex-start;
  padding-top: 12px;
  z-index: 100;
  transition: width 0.3s ease;
  overflow: hidden;
  background-color: rgb(6,6,6);
}


@media (max-width: 600px) {
  .sidebar-nav {
    display: none;

  }
}
.sidebar-nav.expanded {
  width: 200px;
}

.sidebar-nav.expanded ~ .app-container.sidebar-adjusted {
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: all 0.3s ease;
}

.sidebar-logo {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: white;
  opacity: 0.9;
  transition: opacity 0.2s ease;
  padding-left: 10px;
  width: 100%;
  text-decoration: none;
}

.sidebar-logo-text {
  font-family: Orbitron, sans-serif;
  display: none;
  margin-left: 2px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
}

.sidebar-nav.expanded .sidebar-logo-text {
  display: block;
}

.sidebar-icon {
  width: 20px;
  height: 20px; 
  opacity: 0.5;
  margin-left: 8px;
  position: static; 
  filter: brightness(0) saturate(100%) invert(83%) sepia(11%) saturate(527%) hue-rotate(194deg) brightness(95%) contrast(92%);
  transition: opacity 0.3s ease;
}

.sidebar-svg-icon {
  margin-left: 8px;
  opacity: 0.5;
  position: static;
  transition: opacity 0.3s ease;
}

.sidebar-logo:hover {
  opacity: 1;
}

.sidebar-logo-image {
  width: 31px;
  height: 31px;
  min-width: 31px;
}

.view-mode-button, 
.page-mode-button,
.sidebar-bottom-link,
.sidebar-toggle-button {
  position: relative;
  display: flex;
  align-items: center;
  height: 35px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  color: #8c8c9a;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: visible;
  width: 35px;
  margin-left: 7px;
  margin-bottom: 5px;
  align-self: flex-start;
  text-decoration: none;
}

.sidebar-nav.expanded .view-mode-button,
.sidebar-nav.expanded .page-mode-button,
.sidebar-nav.expanded .sidebar-bottom-link,
.sidebar-nav.expanded .sidebar-toggle-button {
  width: 185px;
  padding-right: 12px;
  justify-content: flex-start;
}

.sidebar-nav .active {
  color: #aaaecf !important;
  background-color: rgba(121, 124, 177, 0.2) !important;
}

.sidebar-nav .active .sidebar-icon,
.sidebar-nav .active .sidebar-svg-icon {
  opacity: 0.9;
  filter: brightness(0) saturate(100%) invert(83%) sepia(11%) saturate(527%) hue-rotate(194deg) brightness(95%) contrast(92%);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  padding-top: 10px;
}

.sidebar-bottom {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
}

.sidebar-bottom a,
.sidebar-toggle-button {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.view-mode-button:hover,
.page-mode-button:hover,
.sidebar-bottom-link:hover,
.sidebar-toggle-button:hover {
  color: #ffffff;
  background-color: rgba(202, 210, 249, 0.05);
}

.view-mode-button:hover .sidebar-icon,
.page-mode-button:hover .sidebar-icon,
.sidebar-bottom-link:hover .sidebar-icon,
.sidebar-toggle-button:hover .sidebar-svg-icon,
.sidebar-bottom-link:hover .sidebar-svg-icon {
  opacity: 0.8;
}

.sidebar-label {
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-left: 10px;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  color: #d8dbf5a0;
  opacity: 0;
  display: none;
}

.sidebar-nav.collapsed .view-mode-button:hover .sidebar-label,
.sidebar-nav.collapsed .page-mode-button:hover .sidebar-label,
.sidebar-nav.collapsed .sidebar-bottom-link:hover .sidebar-label,
.sidebar-nav.collapsed .sidebar-toggle-button:hover .sidebar-label {
  display: block;
  opacity: 1;
  position: absolute;
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
  backdrop-filter: blur(5px);
  padding: 6px 12px;
  border-radius: 4px;
  z-index: 101;
  background-color: rgba(21, 21, 25, 0.7);
  pointer-events: none
}

.sidebar-nav.expanded .sidebar-label {
  display: block;
  opacity: 1;
}

.sidebar-nav.collapsed .view-mode-button:hover,
.sidebar-nav.collapsed .page-mode-button:hover,
.sidebar-nav.collapsed .sidebar-bottom-link:hover,
.sidebar-nav.collapsed .sidebar-toggle-button:hover {
  width: 35px;
}

.rotate-180 {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .sidebar-nav {
    width: 50px;
  }
  
  .sidebar-nav.expanded {
    width: 200px;
  }
}