.trades-container {
  color: #ffffffbe;
  font-size: 0.8rem;
  font-weight: 300;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  height: 100%;
}

.trades-list {
  height: 100%;
  overflow-y: scroll;
  overscroll-behavior: none;
  scrollbar-width: none;
  user-select: none;
}

.trades-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to bottom, rgba(6, 6, 6, 0.2), rgb(6, 6, 6));
  pointer-events: none;
  border-radius: 0 0 10px 10px; 
}

.trades-container.hidden {
  display: none;
}