.trades-container {
  color: #ffffffbe;
  font-size: 0.8rem;
  font-weight: 300;
  overflow: hidden;
  position: relative;
}

.trades-list {
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: none;
  user-select: none;
}
