.overlay {
  align-items: center;
  background: rgb(6, 6, 6);
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 100000000;
}

body:has(.overlay) {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.logo {
  user-select: none;
  width: 15vh;
  max-width: 150px;
  min-width: 80px;
}

@supports (-webkit-touch-callout: none) {
  .overlay {
    height: 100%;
    position: fixed;
    -webkit-overflow-scrolling: touch;
  }
  
  body:has(.overlay) {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
  }
}