.footer {
  background: rgb(6, 6, 6);
  bottom: 0;
  display: flex;
  height: 35px;
  justify-content: space-between;
  left: 55px;
  padding: 0 5px;
  position: fixed;
  right: 0;
  z-index: 10;
  transition: left 0.3s ease; 
  border-top: 1px solid rgba(179, 184, 249, 0.1);
}

.footer-content-left {
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
}

.footer-content-left,
.footer-content-right {
  background-color: rgb(6,6,6);
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  z-index: 1;
}

.footer-content-right {
  align-items: center;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.footer-left {
  justify-content: space-between;
  width: 100%;
}

.footer-left,
.footer-right {
  align-items: center;
  display: flex;
}

.version-label {
  background-color: rgb(45 45 56 / 50%);
  border-radius: 4px;
  color: #a39f9f8a;
  font-size: 0.75rem;
  margin-left: auto;
  padding: 2px 12px;
  padding-right: 5px;
  user-select: none;
}

@media (width <= 1020px) {
  .footer,
  .footer-content-left,
  .footer-content-right {
    display: none;
  }
}

body.sidebar-expanded .footer {
  left: 205px;
}