.highlight-popup {
  background: rgb(6,6,6);
  border: 1px solid #b5bcf81f;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.7rem;
  isolation: isolate;
  min-width: 140px;
  padding: 7px 11px;
  pointer-events: none;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  white-space: nowrap;
  z-index: 1000;
  letter-spacing: -0.2px;
}


.highlight-popup div:last-child {
  margin-bottom: 0;
}

.highlight-popup::before,
.highlight-popup.left::before {
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.highlight-popup.left::before {
  border-bottom: 1px solid rgb(255 255 255 / 8.7%);
  border-left: 1px solid rgb(255 255 255 / 8.7%);
  border-right: none;
  border-top: none;
  clip-path: polygon(0 0, 100%, 100%, 0 100%);
  left: 0.5px;
}

