.number-with-subscript {
  display: inline-flex;
  align-items: baseline;
}

.subscript-container {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}

.subscript-number {
  font-size: 0.65em;
  vertical-align: baseline;
  position: relative;
  top: 0.3em;
  line-height: 0;
}