.portfolio-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: auto;
  min-height: 0;
  min-width: 450px;
  overflow: visible;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.portfolio-content::-webkit-scrollbar {
  display: none;
}
