.token-icons {
  display: flex;
  padding-top: 2px;
  margin-right: 4px;
}


.token-wrapper,
.token-skeleton {
  height: 32px;
  position: relative;
  width: 32px;
}

.token-skeleton {
  background: #2d2d3b;
  border-radius: 50%;
  overflow: hidden;
}

.token-skeleton::after {
  animation: shimmer 2s infinite;
  background-image: linear-gradient(
    90deg,
    rgb(255 255 255 / 0%) 0,
    rgb(255 255 255 / 5%) 20%,
    rgb(255 255 255 / 10%) 60%,
    rgb(255 255 255 / 0%)
  );
  content: '';
  inset: 0;
  position: absolute;
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.token-wrapper.second {
  margin-left: -10px;
  z-index: 0;
}

.token-icon1,
.token-icon2 {
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  left: 0;
  margin-top: 1px;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-in-out;
  
}
