.referral-scroll-wrapper {
  align-items: center;
  background: rgb(6 6 6);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-bottom: 35px;
  width: 100%;
}

@supports (-webkit-touch-callout: none) {
  .referral-content {
    padding-bottom: 81px !important;
  }
}

.referral-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
  max-height: 870px;
  max-width: 1000px;
  overflow: hidden;
  padding: 0 5px;
  width: 100%;
}

.referral-background,
.referral-mobile-background {
  border: 2px solid #1a1a1f;
  user-select: none;
  pointer-events: none;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.referral-mobile-background {
  display: none;
}

.referral-background-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.referral-background-container {
  height: 100%;
}

.referral-section-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.claim-button {
  align-items: center;
  background: linear-gradient(
    135deg,
    #aaaecf 0,
    #9a9ec7 25%,
    #8b8eb8 50%,
    #7f82ac 75%,
    #7f82a1 100%
  );
  border: none;
  border-radius: 6px;
  box-shadow:
    inset 0 1px 1px rgb(255 255 255/35%),
    inset 0 -1px 1px rgb(0 0 0/45%),
    0 2px 8px rgb(170 174 207/10%);
      background-size: 200% 200%;
  border: none;
  border-radius: 6px;
  color: #0f0f12;
  cursor: pointer;
  display: flex;
  font-size: 0.775rem;
  font-weight: 500;
  gap: 0.5rem;
  justify-content: center;
  letter-spacing: -0.3px;
  margin-top: 0.3rem;
  padding: 0.55rem;
  transition: all 0.2s;
  width: 100%;
  height: 33px;
}



.claim-button:disabled {
  background: linear-gradient(
    135deg,
    #aaaecf 0,
    #9a9ec7 25%,
    #8b8eb8 50%,
    #7f82ac 75%,
    #7376a0 100%
  );
  border: none !important;
  border: 1px solid rgb(255 255 255 / 10%);
  cursor: default;
  opacity: 0.4;
}

.referral-token {
  align-items: center;
  background-color: #2a2a2a;
  border-radius: 4px;
  display: flex;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
}

.referral-link-section {
  background: #0f0f12;
  border-radius: 8px;
  padding: 1.5rem;
}

.referral-link-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.link-actions {
  width: 30px;
}

.link-actions,
.action-button {
  display: flex;
}

.action-button {
  align-items: center;
  background: 0 0;
  border: none;
  color: #aaaecf;
  cursor: pointer;
  font-size: 0.75rem;
  justify-content: center;
  padding: 0.3rem;
  transition: all 0.2s;
}

.action-button:hover {
  opacity: 0.7;
}

.ref-icon-container {
  align-items: center;
  background: 0 0;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.ref-copy-icon,
.ref-check-icon {
  height: 13px;
  transition: opacity 0.3s ease;
  width: 13px;
}

.ref-copy-icon:hover {
  opacity: 0.7;
}

.ref-copy-icon {
  opacity: 1;
}

.ref-copy-icon.hidden,.ref-check-icon {
  opacity: 0;
  position: absolute;
}

.ref-check-icon {
  pointer-events: none;
}

.ref-check-icon.visible {
  opacity: 1;
  position: relative;
}

.features-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
}

.feature-card {
  border: 1px solid rgba(186, 189, 211, 0.05);
  border-radius: 12px;
  padding: 1rem 0.7rem 0.7rem 0.7rem;
  text-align: center;
}

.feature-icon {
  align-items: center;
  background: #aaaecf24;
  border-radius: 8px;
  color: #aaaecf;
  display: flex;
  height: 2rem;
  justify-content: center;
  margin: 0 auto 0.3rem;
  width: 2rem;
}

.feature-title {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0;
}

.referral-container {
  background-color: rgb(8 8 8);
  box-sizing: border-box;
  color: #f2f2f2;
  min-height: calc(100vh - 2rem);
  overflow-y: auto;
  padding: 2rem;
  width: 100%;
}

.info-links {
  display: flex;
  gap: 1rem;
  margin-top: 0.25rem;
}

.info-link {
  align-items: center;
  color: #aaaecf;
  display: flex;
  font-size: 0.7rem;
  gap: 0.25rem;
  text-decoration: none;
}

.info-link:hover {
  color: #fff;
}

.refer-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.link-text {
  color: rgb(255 255 255 / 50%);
  font-size: 0.7rem;
}

.feature-item {
  background: rgb(255 255 255 / 5%);
  border-radius: 8px;
  gap: 0.75rem;
  padding: 1rem;
}

.feature-text {
  color: rgb(255 255 255 / 70%);
  font-size: 0.9rem;
}

.earnings-header {
  margin-bottom: 1.5rem;
}

.earnings-value {
  color: #fff;
}

.claim-section {
  margin-top: 1.5rem;
}

.claim-button:hover:not(:disabled) {
  filter: brightness(0.8);
}

.earnings-section {
  background: #0f0f12;
  border-radius: 8px;
  grid-row: span 2;
  max-height: 24.1rem;
  padding: 0.5rem 1rem 0.7rem 1rem;
  padding-top: 0.5rem;
}

.earnings-dashboard {
  margin-bottom: 1.15rem;
  margin-top: 0.5rem;
}

.earnings-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.05rem;
  font-weight: 300;
  margin: 0;
}

.earnings-subtitle {
  color: rgb(255 255 255 / 35%);
  font-size: 0.7rem;
  margin: 0;
}

.total-earnings-box {
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  margin-top: -10px;
  padding: 0.5rem 1rem;
}

.total-earnings-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.total-earnings-label {
  color: rgb(255 255 255 / 60%);
  font-size: 0.775rem;
  margin-bottom: -10px;
}

.earnings-status {
  align-items: center;
  color: #10b981;
  display: flex;
  font-size: 0.75rem;
  gap: 4px;
}

.total-earnings-amount {
  background: rgba(255, 255, 255, 0.9);
  background-clip: text;
  font-size: 1.4rem;
  font-weight: 400;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.token-breakdown-title {
  color: rgb(255 255 255 / 35%);
  font-size: 0.8rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.token-item {
  border-radius: 6px;
  justify-content: space-between;
  margin-right: 1px;
  padding: 0.3rem 0.5rem;
}

.token-breakdown {
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  height: 122px;
  margin: 0.5rem 0;
  overflow-y: scroll;
  padding: 3px 0;
  scrollbar-color: #aaaecfe4 transparent;
  scrollbar-width: thin;
}

.token-breakdown::-webkit-scrollbar {
  background: transparent;
  border-radius: 2.5px;
  width: 5px;
}

.token-breakdown::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

.token-breakdown::-webkit-scrollbar-thumb {
  background: rgb(170 174 207 / 30%);
  border: none;
  border-radius: 5px;
}

.token-breakdown::-webkit-scrollbar-thumb:hover {
  background: rgb(170 174 207 / 50%);
}

.token-info,
.token-item {
  align-items: center;
  display: flex;
}

.token-info {
  gap: 0.5rem;
}

.token-logo {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 2rem;
}

.referrals-token-details {
  display: flex;
  flex-direction: column;
}

.token-symbol {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 100;
}

.token-label {
  color: rgb(255 255 255 / 35%);
  font-size: 0.65rem;
  font-weight: 100;
  margin-top: -3px;
}

.token-amount {
  text-align: right;
}

.token-value {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 100;
}

.token-currency {
  color: rgb(255 255 255 / 35%);
  font-size: 0.6rem;
  margin-top: -3px;
}

.help-text {
  color: rgb(255 255 255 / 55%);
  font-size: 0.65rem;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.referral-link-box {
  align-items: center;
  border: 1px solid rgb(55 55 55 / 40%);
  border-radius: 5px;
  display: flex;
  height: 32px;
  justify-content: space-between;
  padding: 0 0.8rem;
}

.link-url {
  color: #aaaecf;
}

.link-base {
  color: rgb(255 255 255 / 45%);
}

.feature-description {
  color: rgb(255 255 255 / 60%);
  font-size: 0.7rem;
  line-height: 1.4;
  margin: 0.5rem;
}

.referral-grid {
  display: grid;
  gap: 4px;
  grid-template-columns: 2fr 1fr;
  margin-top: 0;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.refer-section {
  background: #0f0f12;
  border-radius: 8px;
  height: 16.7rem;
  padding: 1rem 1.5rem;
  padding-top: 0.5rem;
}

.referral-token-image {
  border-radius: 50%;
  height: 27px;
  width: 27px;
}

.main-title-container {
  padding: 1rem 2rem;
  pointer-events: none;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 2;
}

.main-title {
  background: linear-gradient(135deg, #fff 0, #aaaeec 100%);
  background-clip: text;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 40px rgb(170 174 207 / 30%);
}

.referral-header {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.referral-bg-placeholder {
  border-radius: 8px;
  height: 400px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.referral-background {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.referral-bg-placeholder-content {
  border-radius: 8px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (max-width: 1020px) {
  .referral-scroll-wrapper {
    height: auto;
    margin: 0;
    overflow: visible;
    padding: 0  10px;
  }

  .referral-content {
    margin: 0;
    max-height: none;
    padding: 0;
  }
}

@media (width <=860px) {
  .refer-section {
    flex: 2;
    height: auto;
    padding-bottom: 1.3rem;
  }

  .feature-card {
    align-items: center;
  }

  .left-column {
    flex-direction: column;
    height: 380px;
  }

  .referral-grid {
    grid-template-columns: none;
  }
}

@media (width <=700px) {
  .feature-description,
  .referral-background {
    display: none;
  }

  .referral-mobile-background {
    display: block;
  }

  .main-title {
    font-size: 2rem;
  }

  .referral-content {
    max-width: 100%;
    padding-top: 0;
  }

  .left-column {
    flex-direction: column;
    gap: 4px;
    height: auto;
  }

  .features-grid {
    margin: 1.5rem 0 0;
  }
}

@media (width <=520px) {
  .enter-code-container {
    flex-direction: column;
  }

  .enter-code-box-left,
  .enter-code-box-right {
    width: 100%;
  }

  .enter-code-box-left {
    padding: 1rem 1rem 0 1rem;
  }

  .enter-code-box-right {
    padding: 0.5rem 1rem 1rem 1rem;
  }

  .input-button-row {
    justify-content: space-between;
    width: 100%;
  }
}

@media (width <=440px) {
  .feature-description,
  .feature-title {
    font-size: 0.7rem;
  }

  .features-grid {
    margin-top: 0.7rem;
  }

  .referral-link-box {
    height: 40px;
  }
}
