.chart-header {
  align-items: center;
  background: #0f0f12;
  border-radius: 10px;
  display: flex;
  height: 60px;
  justify-content: flex-start;
  margin-bottom: -21px;
  padding: 0 10px;
  user-select: none;
}
