.chart-header {
  border-radius: 8px;
  display: flex;
  height: 46px;
  justify-content: flex-start;
  user-select: none;
  flex-shrink: 1;
  min-width: 0;
}


@media (max-width: 800px) {
  .chart-header {
    overflow: none;
    max-width: calc(100vw - 55px);
  }
}

@media (max-width: 600px) {
  .chart-header {
    overflow: none;
    max-width: calc(100vw - 10px);
  }
}