.trade-type-dropdown {
  margin: 10px 12px 1px;
  position: relative;
  z-index: 5;
}

.dropdown-button {
  background-color: rgb(55 55 65 / 29.2%);
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 0.775rem;
  font-weight: 400;
  gap: 8px;
  padding: 8px;
  position: relative;
  transition: background-color 0.2s ease;
  width: 100%;
}

.dropdown-button:hover {
  background-color: rgb(65 65 75 / 29.2%);
}

.dropdown-icon {
  margin-left: 5px;
  stroke: #aaaecf;
  width: 14px;
}

.dropdown-arrow {
  height: 16px;
  opacity: 0.7;
  position: absolute;
  right: 12px;
  transition: transform 0.2s ease;
  width: 16px;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-menu {
  backdrop-filter: blur(10px);
  background: rgb(39 39 50 / 95%);
  background-color: #16171c;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
  left: 0;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 4px);
  width: 100%;
}

.dropdown-item {
  color: #ffffffa2;
  display: flex;
  font-size: 0.875rem;
  font-weight: 400;
  gap: 8px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease;
}

.menu-icon {
  opacity: 0.8;
  stroke: #aaaecf;
  transition: opacity 0.15s ease;
  width: 12px;
}

.dropdown-item:hover {
  background-color: rgb(255 255 255 / 5%);
  color: #fff;
}

.dropdown-item:hover .menu-icon {
  opacity: 1;
}

.dropdown-item.active {
  background-color: rgb(255 255 255 / 5%);
  color: #fff;
}

.dropdown-item.active .menu-icon {
  opacity: 1;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
}
