.portfolio-header {
  background: #0f0f12;
  color: rgb(255 255 255 / 50%);
  display: grid;
  font-size: 0.75rem;
  font-weight: 300;
  grid-template-columns:
    minmax(140px, 1.2fr) minmax(120px, 1.1fr) minmax(80px, 1fr)
    minmax(70px, 0.3fr);
  height: 30px;
  justify-items: start;
  min-width: 540px;
  padding: 5px 15px 0px 10px;
  position: sticky;
  top: 0;
  user-select: none;
  z-index: 2;
}

.portfolio-header .oc-cell {
  cursor: pointer;
  padding: 0;
}
