.cancel-button {
  align-items: center;
  background: linear-gradient(
    135deg,
    #aaaecf 0,
    #9a9ec7 25%,
    #8b8eb8 50%,
    #7f82ac 75%,
    #7f82a1 100%
  );
  border: none;
  border-radius: 5px;
  box-shadow:
    inset 0 1px 1px rgb(255 255 255/25%),
    inset 0 -1px 1px rgb(0 0 0/35%),
    0 2px 6px rgb(170 174 207/10%);
  color: rgb(0 0 0);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.7rem;
  font-weight: 500;
  gap: 6px;
  padding: 4px 25px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
}

.cancel-button:active {
  background-color: rgb(240 96 96);
}

.cancel-button:focus {
  box-shadow: 0 0 0 1px rgb(240 96 96 / 10%);
  outline: none;
}

.cancel-button:hover {
  filter: brightness(1.1);
}
