.cancel-button {
  align-items: center;
  border: none;
  border-radius: 5px;
  color: #d8dcff;
  cursor: pointer;
  display: inline-flex;
  font-size: 0.85rem;
  gap: 6px;
  justify-content: center;
  padding: 4px 23px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  min-width: 80px;
  max-width: 80px;
}


.cancel-button:hover {
  opacity: 0.8;
}

.cancel-button.signing {
  cursor: not-allowed;
  opacity: 0.7;
}

.cancel-button-content {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
  height: 1.05rem;
}

.cancel-button-loading-spinner {
  animation: spin 1s linear infinite;
  border: 2px solid #aaaecf;
  border-radius: 50%;
  border-top-color: black;
  height: 14px;
  width: 14px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}