.popup-stack-container {
    bottom: 55px;
    display: flex;
    gap: 10px;
    pointer-events: none;
    position: fixed;
    right: 15px;
    z-index: 50;
}

@media(max-width: 1020px) {
    .popup-stack-container {
        top: calc(-100vh + 170px);
        width: 100%;
        height: 100vh;
    }
}

.popup-stack-item {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 0.3s ease, filter 0.3s ease;
    pointer-events: auto;
    width: 270px;
    --expanded-y: 0px;
    backdrop-filter: blur(5px);
}

.popup-stack-container .popup-hover-trigger:hover .popup-stack-item {
    filter: brightness(1);
    transform: translateY(var(--expanded-y));
}
.popup-stack-container.mobile .popup-stack-item {
    transform-origin: top center;
  }

.popup-stack-container.mobile.expanded .popup-stack-item[data-index="0"] {
    margin-bottom: 20px;
  }

  .popup-stack-container.mobile.expanded{
    margin-top: 20px;
  }